<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <table id="orderList" lay-filter="permissionTable"></table>
    </div>
   <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/permission/permission.js"></script>

</div>
</body>
</html>